In [5]:
import numpy
import pandas as pd

# Hello Back Pandas!

In [7]:
pd.Series([[1, True, "WOW"], ["Cham", 27, "Run"], [None, numpy.NaN, numpy.nan]])

0      [1, True, WOW]
1     [Cham, 27, Run]
2    [None, nan, nan]
dtype: object

In [10]:
dates = pd.date_range('20200101', periods=3)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03'], dtype='datetime64[ns]', freq='D')

In [14]:
my_df = pd.DataFrame(numpy.random.rand(3, 3) , index=dates)
my_df

                   0         1         2
2020-01-01  0.546508  0.771123  0.207655
2020-01-02  0.135862  0.372197  0.809854
2020-01-03  0.747053  0.317852  0.276955

In [17]:
my_df.columns = ['A', 'B', 'C']
my_df

                   A         B         C
2020-01-01  0.546508  0.771123  0.207655
2020-01-02  0.135862  0.372197  0.809854
2020-01-03  0.747053  0.317852  0.276955

In [20]:
my_df.dtypes

A    float64
B    float64
C    float64
dtype: object

In [22]:
my_df['B']

2020-01-01    0.771123
2020-01-02    0.372197
2020-01-03    0.317852
Freq: D, Name: B, dtype: float64

In [24]:
my_df.head

<bound method NDFrame.head of                    A         B         C
2020-01-01  0.546508  0.771123  0.207655
2020-01-02  0.135862  0.372197  0.809854
2020-01-03  0.747053  0.317852  0.276955>

In [26]:
my_df.head()

                   A         B         C
2020-01-01  0.546508  0.771123  0.207655
2020-01-02  0.135862  0.372197  0.809854
2020-01-03  0.747053  0.317852  0.276955

In [28]:
my_df.head(2)

                   A         B         C
2020-01-01  0.546508  0.771123  0.207655
2020-01-02  0.135862  0.372197  0.809854

In [29]:
my_df.describe()

              A         B         C
count  3.000000  3.000000  3.000000
mean   0.476474  0.487057  0.431488
std    0.311556  0.247504  0.329502
min    0.135862  0.317852  0.207655
25%    0.341185  0.345024  0.242305
50%    0.546508  0.372197  0.276955
75%    0.646780  0.571660  0.543405
max    0.747053  0.771123  0.809854

In [31]:
my_df[1:2]

                   A         B         C
2020-01-02  0.135862  0.372197  0.809854

In [32]:
my_df.T

   2020-01-01  2020-01-02  2020-01-03
A    0.546508    0.135862    0.747053
B    0.771123    0.372197    0.317852
C    0.207655    0.809854    0.276955

In [34]:
my_df[my_df['A'] < 0.2]

                   A         B         C
2020-01-02  0.135862  0.372197  0.809854

In [37]:
my_df.to_excel('hello_df.xlsx')